.team {
    margin-top: 40px;
}

.user_group {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px;
}

.title {
    font-family: "Poppins";
    font-weight: 50;
    font-size: 28px;
    margin-top: 40px;
}

.underline {
    background-image: linear-gradient(
        -60deg,
        var(--mantine-color-blue-4) 0%,
        var(--mantine-color-blue-7) 100%
      );
    height: 6px;
    width: 140px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.user_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    justify-content: center;
}