.image_container {
    min-height: 40vh;
    padding: 0;
}

.image {
    width: 99vw;
    margin-top: 100px;
}

.underline {
    height: 4px;
    width: 50vw;
    max-width: 180px;
    background-color: #006DAA;
}

.static_text {
    font-family: "Poppins";
    position: fixed;
    z-index: 2;
    font-size: 48px;
    text-decoration: underline;
    text-align: center;
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95vw;
    background-color: black;
    border-radius: 10px;
}

.intro_animation {
    width: 40vw;
    max-width: 240px;
    margin: auto;
}

.header_text {
    font-family: "Poppins";
    font-size: 36px;
    text-align: center;
}

.paragraph {
    font-family: "Poppins";
    font-size: 18px;
    text-align: center;
    margin: auto;
    max-width: 80vw;
}